/* -----------------------------------------Main params */
h1 {
  color: white;
}

h2 {
}

p {
}

/* -----------------------------------------Header */
.header_div {
  background-color: #333333;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------------------------------Jobs */
.jobs_div {
  padding: 20px 80px;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* -----------------------------------------Job */

.job_div {
  width: 300px;
  height: 300px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.red {
  border: solid red 10px;
}

.blue {
  border: solid blue 10px;
}

.yellow {
  border: solid yellow 10px;
}

.pink {
  border: solid pink 10px;
}

.green {
  border: solid green 10px;
}

/* -----------------------------------------Footer */
.footer_div {
  background-color: #dddddd;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
